nav{
  display: flex;
  position: fixed;
  top:0;
  left:0;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(245, 245, 245, 0.75) 1.95px 1.95px 2.6px;
  background-color: #242424;
  width:100%;
  height: 8vh;
}

nav > * {
 padding-top: 0.5rem;
}

nav ul{
  display:flex;
  justify-content: space-between;
  width: 10rem;
  list-style: none;
}

.nav-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content
}

.question-card{
border: 1px solid white; 
margin: 10px auto;
cursor: pointer;
box-shadow: none;
width: 100%;
padding: 1px;
height: 11vh;

transition: box-shadow 0.75s ease, height 0.75s ease, margin 0.75s ease;
}

.question-card > * {
  padding-left: 10px;
}

.card-description{
  opacity: 0;
  display: hidden;  
  transition: opacity 0.5s ease-out;
  margin-top:2%;

}
.question-card:hover{
  box-shadow: rgba(245, 245, 245, 0.75) 1.95px 1.95px 2.6px;
  height: 20vh;
  scale:1.075;
  margin: 20px auto;
}

.question-card:hover .card-description{
  opacity: 1;
}


.skill-list{
  display: flex;
}

.margin-div{
  margin-top: 10vh;
  margin-left:auto;
  margin-right: auto;
  width: fit-content;
}

.card-list{
  width: 60%;
  margin: 10vh auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-details-div{
  width:75%;
}

.answer-card{
  border: 1px solid whitesmoke;
}

.question-form{
  display: flex;
  flex-direction: column;
}

.card-header{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.card-header-icons-div{
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;}


.card-header img{
  width: 20px;
  height: 20px;
  margin-right: 5%;
}

.answers-div{
  margin-top: 5%;
}

.small-text{
  opacity: 0.5;
  font-size: 0.8rem;
}

.card-content{
  display:flex;
  justify-content: space-between;
  width: 80%;
  align-items: baseline;
}

.new-question-button{
  width:33%;
  height:5vh;
  margin: 0 auto;
}

.nav-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
}

.hidden{
height: 2vh;
opacity: 0;
pointer-events: none;
}

#hidden-list{
  justify-content: space-evenly;
  flex-direction: column;
  width: fit-content;
  padding: 1%;
  margin-top: 2.5vh;
  transition: height 0.75s linear,
  opacity 0.75s linear;
  background: rgb(245,245,245);
  background: linear-gradient(0deg, rgba(245,245,245, 0.15) 0%, rgba(245,245,245,0.05) 100%);
}

.not-hidden{
  height:20vh;
  opacity: 1;
}

.clickable{
  box-sizing: content-box;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(245, 245, 245, 0);
  box-sizing: content-box;
  padding: 5px;
  scale: 1;
  transition: scale 0.75 ease;
  cursor: pointer;
 
}

.clickable:hover{
  scale: 1.25;
}

.clickable:active{
  scale: 1;
}

.clickable-list{
  display: flex;
}

.hr{
  margin: 5px 0;
  width: 80%;
}

.skill-label{
  border: 1px solid whitesmoke;
  padding: 1px;
  font-size: 0.75em;
}

.skill-label{
  border: 1px solid whitesmoke;
  padding: 2px;
  margin: 2px;
}

.link-to-profile{
  cursor: pointer;
}

.link-to-profile:hover{
  text-decoration: underline;
} 